.loop_text{
    color:orange;
}
.about_text{
    color:orange;
}
.about_container{
    display:flex;
    flex-direction: column;
    height:1000px;
    justify-content: center;
    align-items: center;
}
.intro_text{
    font-size:50px;
}
.headshot{
    height:400px;
    width:auto;
    border-radius: 10px;
}
.about_me_container{
    display:flex;
    margin-top:200px;
    width:80%;
    justify-content: space-evenly;
}
.work_info{
    margin-left:20px;
}